<!doctype html>
<html lang="zh-cn">
<head>
  <title>应用页</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" href="./lib/api.css">
  <link rel="stylesheet" href="./lib/core.css">
  <style>
      html, body {
          height: 100%;
      }

      .nav-bar__left-text {
          font-size: 18px;
          font-weight: 600
      }
  </style>
</head>
<body>

<div id="app">
  <van-nav-bar right-text="连接" title="开始体验" @click-right="connectBluetooth">
    <template #left>
      <p class="nav-bar__left-text">{{ isConnect ? "已连接" : "未连接" }}</p>
    </template>
  </van-nav-bar>
  <van-search autofocus placeholder="扫描序列码" @search="printLabel"></van-search>
</div>

<script src="./lib/core.js"></script>
<script>
  function main() {
    const cxgBluetoothSerial = api.require("cxgBluetoothSerial");

    new Vue({
      el: "#app",
      data: {
        isConnect: false
      },
      methods: {
        connectBluetooth() {
          console.log("连接蓝牙");
        },
        printLabel() {
          console.log("打印标签");
        }
      }
    });
  }

  apiready = main;
  // 非浏览器下运行需要注释掉下方代码
  apiready();
</script>
</body>
</html>
